[program:gunicorn-graphite]
command=/opt/graphite/bin/gunicorn -b 127.0.0.1:8080 -w {{ graphite.workers }} -u {{ nginx_user }} -g {{ nginx_user }} --log-file=/opt/graphite/storage/log/webapp/gunicorn.log --pythonpath /opt/graphite/webapp/ wsgi:application
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT
user={{ nginx_user }}
 
[program:carbon-cache]
command=/opt/graphite/bin/python /opt/graphite/bin/carbon-cache.py --debug start
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT